header {
  text-align: center;
  padding: 50px;
  padding-bottom: 10px;

  h1 {font-size: 50px;}

  hr {margin-top: 30px;}

  div.formrow {
    margin-top: 25px;

    input {
      padding: 10px;
      text-align: center;
      font-size: x-large;
      border: 1px solid rgba(210, 210, 210, 1);;
      border-radius: 5px;
    }

    a {
      padding: 15px;
      background-color: rgba(30,144,255,1);
      color: white;
      border-radius: 5px;
      text-decoration: none;
    }
  }
}
