div.show {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(240,240,240,1);
  border: 1px solid gray;
  border-radius: 5px;
  color: rgba(50,50,50,1);
  text-decoration: none;

  div.poster {
    float: left;
    width: 30%;
    margin: 20px;
  }

  div.info {
    margin-left: 45%;
    margin-right: 5%;
  }
}
